footer.footer {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #00aaff;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer .devs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.footer .dev {
    text-align: center;
}

.footer .dev p {
    margin: 5px 0;
    font-weight: bold;
}

.funcao {
    margin: 5px 0;
    font-size: smaller;
}

.footer a {
    color: #00aaff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ffaa00;
}

.footer-nav {
    margin-top: 10px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

